# ─── Solace / SWIM connection ───────────────────────────────────────────────────────
# ─── Replace dots with your credentials ─────────────────────────────────────────────

SMES_JMS_URL=...
SMES_VPN=...
SCDS_USERNAME=...
SCDS_PASSWORD=...
SMES_QUEUE=...

REDS_TARGET_WS_URL=ws://127.0.0.1:8080/ws